/* formatting & positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

/* colors */
.legend .safe { background-color: rgb(44, 218, 0); }
.legend .medium { background-color: #eeff00; }
.legend .dangerous { background-color: #ff0000; }